* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;
   background-color: #fff;
}

.topnav {
    overflow: hidden;
    background-color: rgb(41, 9, 70);
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav h1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #8f99a8;
    color: white;
}


.area {
 fill: lightsteelblue;
}

.line {
 fill: none;
 stroke: #6b18cb;
 stroke-width: 3px;
}

.dot {
 fill:#6b18cb;
 stroke: #6b18cb;
 stroke-width: 1.5px;
}

#linechart{
   width: 1250px;
}
#sunburst{
    float: left;
    margin-top: 40px;
}

/*Element Styling*/

circle {
    fill: #d9d9d9;
    stroke: gray;
    opacity: 1;
}

circle.selected-region {
    stroke: #122f3d;
}

circle.selected-country {
    stroke-width: 3px;
    stroke: #000000;
    opacity: 1;
}

circle.hidden {
    opacity: .3;
}

path.hidden {
    opacity: .4;
}


/*ID Styling*/

#country-detail {
    display: inline-block;
    width: 750px;
    height: 100px;
    margin: auto;
    position: relative;
    padding-left: 30px;
    
}

#country-detail .stat {
    font-style: bold;
    display: block;
    width: 500px;
}

#country-detail .stats span {
    font-weight: bold;
}

#country-detail div.label {
    font-size: 26px;
    display: block;
    width: 100%;
    padding-top: 10px;
}

#country-detail div.label span {
    font-size: 22px;
    padding-bottom: 15px;
    font-weight: bold;
}

#map-chart {
    height: 450px;
}

#scatter-plot {
    height: 730px;
}

#map-chart svg {
    width: 100%;
    height: 100%;
    margin: auto;
}

#map-chart svg {
    margin: auto;
}


/*class styling*/

.year.label {
    font: 200 196px "Helvetica Neue";
    fill: #ddd;
  }
  

.boundary {
    fill: none;
    stroke: #ddd;
    stroke-width: .5px;
}

.countries {
    stroke: #ddd;
     
    
}

.circle-legend {
    width: 200px;
    height: 120px;
    padding-right: 20px;
    margin: auto;
    display: inline-block;
    float: right;
}

.circle-legend svg {
    width: 100%;
    height: 90%;
}

.circle-legend text {
    font-size: 11px;
}

.circle-legend .label {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}

.circle-legend .subLabel {
    font-size: 11px;
    font-weight: bold;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.fill {
    fill: #fff;
    pointer-events: none;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}

.header {
    width: 600px;
    margin: auto;
    text-align: center;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

.view {
    width: 750px;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;
    float: left;
}

.innerWrapper {
    width: 790px;
    display: inline-block;
    float: left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 11px;
}

div.toggle-panel {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px;
}

div.dropdown-wrapper {
    display: inline-block;
    margin-left: 75px;
    width: 320px;
    height: 130px;
    padding: 2px;
}

.dropdown {
    float: right;
}

.y-label,
.x-label,
.c-label {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 5px;
}


/*dropdown menu*/

.select-selected {
    background-color: DodgerBlue;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


.bc-legend-label {
    padding: 0 10px;
}


/* slider styling */

.hic_rect{

    display: inline-block;
    float: left;
    width: 150px;
    margin-left: 50px;
    fill:#B0E0E6;
}

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 150px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    width: 150px;
    margin-left: 50px;
}


/*tooltip */

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 28px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font: 14px sans-serif;
}

path.selected-country
 {
    fill:#636363;
    /*  stroke-width: 1px;*/
    /* stroke: #000000;
}






/* Styling for Counties */

/*.africa {
    
    stroke-width: 1px;
}

path.africa.selected-country,
circle.africa.selected-country {
    /*fill: #cc9a04;
    stroke: #000000;
}

/*i.africa {
    color: #FFCA28;
}

.asia {
    fill: #85C1E9;
}

path.asia.selected-country,
 {
  
     stroke-width: 1px;
     stroke: #000000;
}

/*i.asia {
    color: #2d7aad;
}

.americas {
    fill: #D4E157;
}

path.americas.selected-country,
circle.americas.selected-country {
    fill: #aaba18;
    /*  stroke-width: 1px;*/
    /* stroke: #000000;
}

i.americas {
    color: #D4E157;
}

.europe {
    fill: #AD1457;
}

path.europe.selected-country,
circle.europe.selected-country {
    fill: #7c0238;
    /*  stroke-width: 1px;*/
    /* stroke: #000000;
}

i.europe {
    color: #AD1457;
}*/

.activeYear-background {
    font-size: 80px;
    opacity: .4;
}
     
a {
    background-color: orange;
    box-shadow: 0 3px 0 darkorange;
    color: white;
    padding: 1em 1.em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: yellow;
    cursor: pointer;
  }
  
  a:active {
    box-shadow: none;
    top: 5px;
  }
  

